APIFuzzer
atheris
fastapi[all]
hypothesis
hypothesis[cli]
# locust   # slows down the build because of dependency resolution conflicts. Installed separately.
pre-commit
pytest
# schemathesis   # also installed separately.
